.dialogs {
    display: grid;
    grid-template-columns: 3fr 7fr;
}
.dialogsItems {
    padding: 20px;
}
.dialogItem:not(:first-child) {
    margin-top: 10px;
}
.dialogItem a img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.dialogItem a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: cornsilk;
}
.dialogItem a div {
    margin-left: 10px;
}
.dialogItem a.active {
    color: gold;
}
.messagesItems {
    padding: 20px;
}
.messageItem:not(:first-child) {
    margin-top: 30px;
}

.messageItem.messageOwner {
    text-align: left;
}
.messageItem.messageFriend {
    text-align: right;
}

